<?xml version="1.0" encoding="UTF-8"?>
<!-- see http://static.springsource.org/spring/docs/3.2.2.RELEASE/spring-framework-reference/html/ -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations" value="classpath:de/nikem/ipub/db.properties"/>
	</bean>
	
	<bean id="ipubDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    	<property name="url" value="${connection.url}"/>
    	<property name="username" value="${connection.username}"/>
    	<property name="password" value="${connection.password}"/>
  	</bean>
  	
  	<!-- Alternative: Datasource aus dem App-Server:
  		<jee:jndi-lookup id="ipubDataSource" jndi-name="java:comp/env/jdbc/myds"/>
  	 -->
	
	<bean id="ipubSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    	<property name="dataSource" ref="ipubDataSource"/>
    	<property name="mappingResources">
      		<list>
        		<value>de/nikem/ipub/Queries.xml</value>
      		</list>
    	</property>
    	<property name="hibernateProperties">
      		<value>
        		hibernate.dialect=org.hibernate.dialect.MySQLDialect
      		</value>
    	</property>
	</bean>
	
	<bean id="ipubTxManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    	<property name="sessionFactory" ref="ipubSessionFactory"/>
  	</bean>
	
	<bean name="jdbcUtil" class="de.nikem.jdbc.JdbcUtil">
		<property name="txManager" ref="ipubTxManager" />
		<property name="sessionFactory" ref="ipubSessionFactory" />
	</bean>
	
	<bean name="publicationAction" class="de.nikem.ipub.resource.publication.PublicationAction">
		<property name="jdbcUtil" ref="jdbcUtil" />
	</bean>

	<bean name="publicationListResource" class="de.nikem.ipub.resource.publication.PublicationListResource" scope="request">
		<property name="publicationAction" ref="publicationAction" />
		<property name="jdbcUtil" ref="jdbcUtil" />
	</bean>
    
	<bean name="publicationResource" class="de.nikem.ipub.resource.publication.PublicationResource" scope="request">
		<property name="publicationAction" ref="publicationAction" />
		<property name="jdbcUtil" ref="jdbcUtil" />
	</bean>
</beans>