    <a href="">aktualisieren</a>

    <ul>
        <li>Spiel: {{spiel.id}}</li>
        <li>letzter Zugriff: {{spiel.lastAccess}}</li>
        <li>Status: {{spiel.status}}</li>
        <li>angemeldete Spieler: {{spiel.spieler.length}}</li>
    </ul>
