        {{#spielList}}
        <ul>
            <li>Spiel: {{id}}</li>
            <li>Status: {{status}}</li>
            <li>angemeldete Spieler: {{anzahlSpieler}}</li>
        </ul>
        <a href="{{id}}">Link für Zuschauer</a>
        {{/spielList}}