    <a href="">aktualisieren</a>

    <ul>
        <li>Spiel: {{spiel.id}}</li>
        <li>letzter Zugriff: {{spiel.lastAccess}}</li>
        <li>Status: {{spiel.status}}</li>
    </ul>

    <table>
        <thead>
            <tr><th>Spieler</th></tr>
        </thead>
        <tbody>
        {{#spiel.spieler}}
        <tr><td>{{name}}</td></tr>
        {{/spiel.spieler}}
        </tbody>
    </table>
